body{
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header'
    'descriptionIndex descriptionIndex descriptionIndex descriptionIndex'
    '. dropdownTable dropdownTable .'
    '. next next .';
}

#descriptionIndex{
    grid-area: descriptionIndex;
}

#dropdownTable{
    grid-area: dropdownTable;
}
/* --------------------- Header : --------------------- */

header{
    border: 1px solid black;
    grid-area: header;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    margin-left: 2em;
}

header{
    grid-area: header;
}

a{
    color: black;
    text-decoration: none;
}