body{
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header'
    'card card card card'
    '. next next .';
}


.buttonFront{
    height: 25em;
    width: 25em;
}

.divButton{
    grid-area: card;
}

.buttonBack{
    height: 25em;
    width: 25em;

}

.buttonNext{
    grid-area: next;
}

/* --------------------- Header : --------------------- */

header{
    border: 1px solid black;
}

ul{
    list-style-type: none;

}

li{
    float: left;
    margin-left: 2em;
}

header{
    grid-area: header;
}