body{
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header'
    'front front back back'
    '. next next .';
}

ul{
    list-style-type: none;

}

li{
    float: left;
    margin-left: 2em;
}

header{
    grid-area: header;
}

.buttonFront{
    grid-area: front;
}

.buttonBack{
    grid-area: back;
}

.buttonNext{
    grid-area: next;
}